@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  color: white;

}

.popover-container {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.popover-trigger {
  color: white;
  border: none;
  border-radius: 4px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 0;
  padding: 0;
}

.popover-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px;
  z-index: 1000;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .popover-content {
    top: -100%; /* Ajuste para pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .popover-content {
    top: -150%; /* Ajuste para pantallas aún más pequeñas */
  }
}


.break-word-button {
  word-wrap: break-word;
  /* Compatibilidad con navegadores antiguos */
  overflow-wrap: break-word;
  /* Propiedad moderna */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}


.loader-changes-rating {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}



/* HTML: <div class="loader"></div> */
.loader-images {    
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}